body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0d0d0d;
    color: #f2d38b;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid #3e2e13;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #f2d38b;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    color: var(--text-dark);
}

.logo-main {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icon {
    color: #f2d38b;
    font-size: 30px;
}

.logo h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 0;
    line-height: 1;
}

.logo h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    opacity: 0.8;
}
.layout {
    display: flex;
    height: calc(100vh - 80px);
}


.sidebar {
    width: 22%;
    background: #111;
    border-right: 1px solid #3e2e13;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h3 {
    color: #e2bf70;
}

.block {
    padding: 15px;
    margin-bottom: 10px;
    background: #1a1a1a;
    border: 1px solid #c6a15b;
    border-radius: 6px;
    cursor: grab;
    transition: 0.2s;
    text-align: center;
    font-size: 20px;
}

.block:hover {
    border-color: #e2bf70;
    box-shadow: 0 0 15px rgba(255, 215, 120, 0.3);
}


.canvas {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
    border: 15px;
    border-color: #e2bf70;
}

.canvas-hint {
    text-align: center;
    margin-top: 40px;
    color: #b79b5a;
}


.canvas-block {
    background: #1a1a1a;
    border: 1px solid #d9b362;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.export-btn {
    width: 100%;
    padding: 12px;
    background: #d9b362;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #111;
    margin-top: 20px;
}

.export-btn:hover {
    background: #e3c16f;
}